<header>
  <div>
    <h1><%= link_to "Library", root_path %></h1>
    
    <nav>
      <% if current_user %>
        <%= link_to "Available Books", available_books_path %>
        <%= link_to "My Borrowed Books", borrowed_books_path %>
        <%= button_to "Sign Out", session_path, method: :delete %>
      <% end %>
    </nav>
  </div>
</header>